body {
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

/* header */
.header {
    display: flex;
    align-items: center;
    margin: 20px 40px;
}

.header__text {
    flex-grow: 1;
    font-size: 25px;
    font-weight: 400;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__location {
    font-weight: 500px;
}

.header__locationIcon {
    padding-right: 10px;
}

/* current Information */
.currentInformation {
    display: flex;
    justify-content: space-between;
    margin: 30px 30px;
}

.currentInformation__left {
    display: flex;
    font-size: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.currentInformation__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.currentInformation__temperature {
    padding-left: 5px;
}

/* location */
.searchbar__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 135px;
}

.searchbar__input {
    width: 400px;
    height: 30px;
    border-radius: 15px;
    padding-left: 7px;
    border: solid black 1.5px;
}

.searchbar__icon {
    padding-left: 10px;
    font-size: 20px;
}

/* weekly weather view */

.weekView {
    display: flex;
    justify-content: center;
    padding: 50px 10px 10px 10px;
}
.weekView__weather {
    height: 300px;
    width: 13%;
    margin: 8px;
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
    transition: all .2s ease-in-out;
    min-width: 120px;
}

.weekView__weather:hover{
    transform: scale(1.04);
}


/* js */
.weekView__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.temperature__container {
    display: flex;
}

.weather__icon {
    width: 100px;
    height: auto;
    padding: 30px;
}

.weatherSeparator {
    padding: 0 4px 0 2px;
}